*{margin:0; padding:0;}


body{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color:#f9f9f9;
	color:#111;
}

button{
	display: inline-block;
	padding:5px;
	margin:20px;
	border: 0 none;
	border-radius:5px;
	background-color:#5F021F;
	color:#fff;
	box-shadow:none;
	cursor:pointer;
}

#header{
	background-color:#a6a6a6;
	text-align:center;
	margin-bottom:20px;
	padding:10px;
	border-radius:10px;
}

#title{
	font-size:100px;
	font-weight:100;
}

#container{
	background-color:#f1f1f1;
	border-radius:10px;
	min-height:100%;
	bottom:0;
}

#quiz_container{
	text-align:center;
	padding:10px;
	border:1px solid #fff;
}

#quiz_word{
	font-size:35px;
	color:#000;
	margin:5px;
}

.screen{
	text-align:center;
	padding:20px;
	display:none;
}

.next_button{
	position:fixed;
	font-size:50px;
	bottom:0;
	right:0;
}