*{margin:0; padding:0;}


body{
	padding:20px;
	background-color:#f9f9f9;
	color:#f9f9f9
}

button{
	display: inline-block;
	padding:5px;
	margin:20px;
	border: 0 none;
	border-radius:5px;
	background-color:#5F021F;
	color:#fff;
	box-shadow:none;
	cursor:pointer;
}

#header{
	background-color:#a6a6a6;
	text-align:center;
	margin-bottom:20px;
	padding:10px;
	border-radius:10px;
}

#header h1{
	font-size:50px;
}

#container{
	background-color:#a6a6a6;
	margin-bottom:20px;
	padding:10px;
	border-radius:10px;
}

#quiz_container{
	text-align:center;
	padding:10px;
	border:1px solid #fff;
}

#quiz_word{
	font-size:35px;
	color:#fff;
	margin:5px;
}